```
# Database files
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV/
.ENV.local
env.bak/
venv.bak/
.PyCharm/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.coverage.*
```